name: CI with vcpkg

on: [pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os:
          # - windows-2022
          # - ubuntu-22.04
          - macos-12
        compiler:
          - llvm
          - gcc
        CMAKE_GENERATOR:
          - "Ninja Multi-Config"
        # include:
        #   - os: windows-2022
        #     compiler: msvc
        #     CMAKE_GENERATOR: "Visual Studio 17 2022"

        # exclude:
        #   - os: windows-2022
        #     compiler: llvm

    steps:
      - uses: actions/checkout@v3

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/vcpkg
            ~/.conan
            ~/.cache/ccache
            ~/.cache/pip
            ~/Library/Caches/ccache
            ./build/vcpkg_installed
            ${{ env.CONAN_USER_HOME }}
            ${{ env.HOME }}/.cache/vcpkg/archives
            ${{ env.XDG_CACHE_HOME }}/vcpkg/archives
            ${{ env.LOCALAPPDATA }}\vcpkg\archives
            ${{ env.APPDATA }}\vcpkg\archives
            ${{ env.APPDATA }}\Roaming\ccache
          key: vcpkg-${{ runner.os }}-${{ matrix.compiler }}-${{ hashFiles('./vcpkg.json')}}-${{ matrix.CMAKE_GENERATOR }}-${{ hashFiles('**/CMakeLists.txt') }}
          restore-keys: |
            vcpkg-${{ runner.os }}-${{ matrix.compiler }}-${{ hashFiles('./vcpkg.json') }}-
      - name: Setup Cpp
        uses: aminya/setup-cpp@v0.22.0
        # uses: aminya/setup-cpp@v1
        with:
          compiler: ${{ matrix.compiler }}
          vcvarsall: ${{ contains(matrix.os, 'windows' )}}

          cmake: true
          ninja: true
          vcpkg: true
          ccache: true
          clangtidy: false
          task: false

          cppcheck: false

          gcovr: false
          opencppcoverage: false

      - name: Information about ccache
        run: |
          ccache -s -v
      # - name: Configure CMake
      #   run: |
      #     cmake -B ./build -S . -G "${{matrix.CMAKE_GENERATOR}}" -DENABLE_VCPKG=ON -DBUILD_TESTS=ON -DBUILD_DEMOS=ON -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
      # - name: Build
      #   run: |
      #     cmake --build ./build --config Release
      - name: Install dependencies
        env:
          ARCHFLAGS: "-arch x86_64"
        run: |
          brew install hdf5@1.10
          export HDF5_DIR=/usr/local/opt/hdf5@1.10
          pip3 install pytest h5py
      - name: Unix test
        if: runner.os != 'Windows'
        run: |
          ./build/test/Release/test_samurai_lib
          cd test; pytest --h5diff
      - name: Windows test
        if: runner.os == 'Windows'
        run: |
          .\build\test\Release\test_samurai_lib
          cd test; pytest -s --h5diff
